### Simplify Country Code csv to 2 columns for merging

In [1]:
import pandas as pd

In [31]:
coords = pd.read_csv('countries_codes_and_coordinates.csv')
coords.head()

,Country,Alpha-2 code,Alpha-3 code,Numeric code,Latitude (average),Longitude (average)
0,Afghanistan,"""AF""","""AFG""","""4""","""33""","""65"""
1,Albania,"""AL""","""ALB""","""8""","""41""","""20"""
2,Algeria,"""DZ""","""DZA""","""12""","""28""","""3"""
3,American Samoa,"""AS""","""ASM""","""16""","""-14.3333""","""-170"""
4,Andorra,"""AD""","""AND""","""20""","""42.5""","""1.6"""

In [32]:
#drop all rows except 'Country' and 'Alpha-3 code'
coords = coords.drop(['Alpha-2 code', 'Numeric code', 'Latitude (average)', 'Longitude (average)'], axis=1)
coords.head()

          Country Alpha-3 code
0     Afghanistan        "AFG"
1         Albania        "ALB"
2         Algeria        "DZA"
3  American Samoa        "ASM"
4         Andorra        "AND"

In [33]:
#coords['Alpha-3 code'].astype("string")
coords['Alpha-3 code'] = pd.Series(coords['Alpha-3 code'], dtype="string")

In [34]:
coords['Country'] = pd.Series(coords['Country'], dtype="string")

In [35]:
coords['Country'].dtypes

string[python]

In [36]:
#remove quotes from column
#s.str.replace('"', '')
coords['Alpha-3 code'] = coords['Alpha-3 code'].str.replace('"', '')
coords.head()

          Country Alpha-3 code
0     Afghanistan          AFG
1         Albania          ALB
2         Algeria          DZA
3  American Samoa          ASM
4         Andorra          AND

In [37]:
#rename 'Alpha-3 code' as 'Country Code'
#df.rename(columns={"A": "a"}
coords = coords.rename(columns={'Alpha-3 code': 'Country Code'})
coords.head()

          Country Country Code
0     Afghanistan          AFG
1         Albania          ALB
2         Algeria          DZA
3  American Samoa          ASM
4         Andorra          AND

In [38]:
#save reduced dataset to new csv
coords.to_csv('CountryCodes_reduced.csv', index=False)